body {
    padding:0;
    margin:0;
    border:0;
    widows: 100%;
    display: block;
    --overflow-x:hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

}

footer {
    display: flex;
    align-items: center;
    height: 400px;
}

.footer>div {
    flex: 1;
}

input .search {
    text-align: center;
    background-color: red;
}
.left {
    background-color: #333;
    width: 100%;
    height: 100%;
    flex-basis: 1;
    order: 1;
}

.right {
    background-color: aqua;
    width: 100%;
    height: 100%;
    flex-basis: 720px;
    order: 2;
}

/* ----------------------------- NAVBAR-------------------------------- */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    margin: 0 auto;
    background-image: url("img/library 2.jpeg");
    padding: 140px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    line-height: 2;
}

h1 {
    text-align: center;
    color: white;
    display:block;
    font-weight: 100;
    font-size: 60px;
}
#nav {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

#nav a {
    display: block;
    color: rgb(237, 237, 237);
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}

#nav #AK {
    font-size: 50px;
    padding-right: 30px;
}

#nav a:hover {
    text-decoration: underline;
}

#nav a.active {
    text-decoration: underline;
}

#arrow_button {
    cursor: pointer;
    position: absolute;
    border-color: rgb(255, 255, 255);
    border-style: solid ;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    height: 28px;
    width: 28px;
    top: 350px;
}
@media only screen and (max-width: 1060px) {
    #header {
        padding: 80px;
    }
    #arrow_button {
        top: 250px;
    }
}


@media only screen and (max-width: 800px) {
    #header {
        padding: 60px;
    }
    #arrow_button {
        top: 220px;
    }
}

@media only screen and (max-width: 550px) {
    #nav a {
        /* display: none; */
        font-size: 5vw;
        padding: 4vw 2vw 4vw 2vw;
    }
    #nav #AK {
        font-size: 8vw;
        padding-right: 4vw;
    }
    h1 {
        font-size: 10vw;
    }
    #arrow_button {
        top: 175px;
    }   
}

@media only screen and (max-width: 350px) {
    #arrow_button {
        top: 145px;
    }
}


article{
    margin-left:20%;
    margin-right:20%;
}

 .container{
     position: relative;
 }
