body {
    padding:0;
    margin:0;
    border:0;
    widows: 100%;
    display: block;
    --overflow-x:hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

}
html {
    scroll-behavior: smooth;
  }

/* CSS for About us */
.fadeIn {
    animation: fadeEffect 3s;
    visibility: visible;
}
.fadeOut {
    visibility: hidden;
}
.about {
    visibility: hidden;
}
article{
    margin-top: 10%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 20%;
}
/*@keyframes fadeEffectOut {
    from {opacity: 1;}
    to {opacity: 0;}
}*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opactiry:1;}
}
/*li {
    bul
}*/
#about-us {
    text-align: center;
    margin-top: -100px;
    margin-left: 0%;
    color: white;
    display: block;
    animation: fadeEffect 3s;
    font-style: Verdana;
    font-size: 3.5vw;
}
#about-us-title {
    margin-bottom: 30px;
}
#arrow {
    margin-top: -40px;
    width: 10%;
    height: 10%;
    cursor: pointer;
}
@media only screen and (min-width:600px) {
    #about-us {
        font-size: 25px;
        margin-top: -130px;
    }
    #arrow {
        margin-top: -100px;
        width: 70px;
        height: 70px;
    }
    #about-us-title {
        margin-bottom: 40px;
    }
    #menu-title {
        margin-bottom: 40px;
    }
    article{
        margin-top: 7%;
        margin-left:20%;
        margin-right:20%;
        margin-bottom: 20%;
    }
}
/* CSS Restaurant*/
#the-menu {
    text-align: center;
    margin: 50px;
    background: lightgrey;
}
#menu-title {
    margin-bottom: 30px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #333;
}
footer .left{
    --padding-left:50px;
    color: white;
    text-align:center;
    --padding-top:500px;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    
}
footer .right{
    background-color: #333;
    width: 100%;

}
.social-media{
    overflow:hidden;
    display:block;
    text-align: center;
    margin-top:40px;

}
#instagram, #facebook, #twitter{
    float:center;
    margin-left:10px;
    color:white;
}
#instagram {
    font-size: 1.6em;
}
#facebook {
    font-size: 1.5em;
}
#twitter {
    font-size: 1.5em;
}
.contact-us{
    padding-left:10px;
    text-align: center;
    margin-top:100px;
}
@media screen and (min-width: 720px) {
    footer {
        flex-direction: row;
    }
        .left{
            height:400px;
            padding-left:50px;
        }
        .right{
            background-color: #333;
            height:400px;
        }
        .contact-us{
            margin-top:120px;
        }
  }
  @media screen and (max-width: 720px){
      footer .left{
        padding-bottom: 50px;

      }
  }
  

.footer>div {
    flex: 1;
}

input .search {
    text-align: center;
    background-color: red;
}
    .left {
        background-color: #333;
        width: 100%;
        height: 100%;
        flex-basis: 1;
        order: 1;
    }

    .right {
        background-color: aqua;
        width: 100%;
        height: 100%;
        flex-basis: 720px;
        order: 2;
}
/*----------------------- Header styling --------------------------*/

/* ----------------------------- NAVBAR-------------------------------- */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    margin: 0 auto;
    /* padding: 140px; */
    padding: 10%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
    line-height: 2;
}

h1 {
    text-align: center;
    color: white;
    display:block;
    font-weight: 300;
    font-size: 60px;
}

#nav {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

#nav a {
    display: block;
    color: rgb(237, 237, 237);
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}

#nav #AK {
    font-size: 50px;
    padding-right: 30px;
}

#nav a:hover {
    text-decoration: underline;
}

#nav a.active {
    text-decoration: underline;
}

@media only screen and (max-width: 550px) {
    #nav a {
        font-size: 5vw;
        padding: 4vw 2vw 4vw 2vw;
    }
    #nav #AK {
        font-size: 8vw;
        padding-right: 4vw;
    }
    h1 {
        font-size: 10vw;
    }
    #about-us {
        margin-top: -80px;
    }
    #about-us-title {
        margin-bottom: 20px;
    }
    #menu-title {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 350px) {
    #about-us {
        margin-top: -55px;
    }
}

/* ----------------------- ARTICLE --------------------------- */

 .container{
     position: relative;
 }
 #about h1 {
     color: black;
 }

/*----------------------------------------- Events.html ------------------------------------------*/
 .content {
    align-content: center;
    background-color: rgb(174, 202, 255);
}

.tasks {
    border-radius: 5px;
    background-color: lightgrey;
    padding: 30px;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: left;
} 

#list {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
}
#list li {
    margin: 10px 0;
}

#search-field {
    text-align: center;
}

#list li:hover {
    color: rgba(141, 140, 140, 0.897);
    cursor: pointer;
}

input {
    width: 45vw;
    height: 30px;
}

input:focus {
    background-color: rgba(211, 211, 211, 0.425);
    /* border: 3px solid #555; */
}

/*--------------------------- MODAL ------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);   
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#span_button {
    float: right;
    position: absolute;
    right: 50px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 3px;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#merinfo{
    margin-top: 40px;
}
